.buttons{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  width: 90%;
  margin: 50px auto 0 auto;

  button{
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 15px;
    text-decoration: none;
    border-radius: 7px;
    border-style: none;
    height: 40px;
    cursor: pointer;
  }
}

// Mobile
@media only screen and (min-width: 0) and (max-width: 1023px){
  .buttons{
    grid-template-columns: repeat(auto-fill, minmax(10px));
    grid-gap: 5%;
    grid-auto-flow: column;
    overflow-y: scroll;
    padding-bottom: 30px;
    
    button{
      width: 100px;
    }
  }
}
