.footer{
  display: grid;
  justify-content: center;
  font-size: 17px;
  width: 100%;
}

// Desktop
@media only screen and (min-width: 1750px){
  .footer{
    font-size: 19px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1749px){
  .footer{
    font-size: 17px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1365px){
  .footer{
    font-size: 15px;
  }
}
// Mobile
@media only screen and (min-width: 768px) and (max-width: 1023px){
  .footer{
    font-size: 14px;
  }
}
@media only screen and (min-width: 0) and (max-width: 767px){
  .footer{
    font-size: 13px;
  }
}