.textarea{
  display: grid;
  grid-template-columns: repeat(2, 46%);
  justify-content: center;
  gap: 4%;
  width: 100%;
  margin: 30px auto;
  
  textarea{
    display: grid;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;
    max-height: 350px;
    min-height: 350px;
    border: none;
    border-radius: 10px;
    margin-right: 0;
    padding: 20px;
  }
  .resultInput{
    display: inline-block;
    position: relative;
    justify-content: center;
  }
  .files{
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    opacity: .7;

    &:hover{
      opacity: 1;
    }
  }
  .saver{
    position: absolute;
    bottom: 15px;
    right: 60px;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    opacity: .7;

    &:hover{
      opacity: 1;
    }
  }
}