.navigation{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  width: 90%;
  margin: 50px auto 0 auto;

  button{
    display: grid;
    justify-content: center;
    align-content: center;
    background: #e9e9e9;
    color: #000;
    font-size: 15px;
    text-decoration: none;
    border-radius: 7px;
    border-style: none;
    height: 40px;
    cursor: pointer;
    
    &:active{
      border-style: none;
    }
    &:hover{
      background: #ccc;
    }
  }
}
.navigationDark{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  width: 90%;
  margin: 50px auto 0 auto;

  button{
    display: grid;
    justify-content: center;
    align-content: center;
    background: #5648a8;
    color: #eee;
    font-size: 15px;
    text-decoration: none;
    border-radius: 7px;
    border-style: none;
    height: 40px;
    cursor: pointer;
    
    &:active{
      border-style: none;
    }
    &:hover{
      background: #524888;
    }
  }
}
.active{
  background: #7b68ee;
}